@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Pixelify Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ibshadow{
  box-shadow: inset 0px 5px white, inset 0px -5px white, inset 5px 0px white, inset -5px 0px white;
}

.pic, .cpp, .cs, .sql, .css, .js, .python, .html, .github, .mysql, .vs, .vsc{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic{
  background-image: url("images/pic1.jpg");
}
.cpp{
  background-image: url("images/icons8-c++.svg");
}
.cs{
  background-image: url("images/icons8-c-sharp-logo.svg");
}
.sql{
  background-image: url("images/icon8-sql-logo.svg");
}
.html{
  background-image: url("images/icons8-html.svg");
}
.css{
  background-image: url("images/icons8-css.svg");
}
.js{
  background-image: url("images/icons8-javascript.svg");
}
.python{
  background-image: url("images/icons8-python.svg");
}

.github{
  background-image: url("images/icons8-github.svg");
}
.mysql{
  background-image: url("images/icons8-mysql-logo.svg");
}
.vs{
  background-image: url("images/icons8-visual-studio.svg");
}
.vsc{
  background-image: url("images/icons8-visual-studio-c.svg");
}